@import "tailwindcss";

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #080808;
  color: white;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

::selection {
  background: #c9a227;
  color: #000;
}
